<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Web3Modal</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>ambire</string>
		<string>argent</string>
		<string>avacus</string>
		<string>awallet</string>
		<string>beewallet.app</string>
		<string>bitizen</string>
		<string>bitkeep</string>
		<string>blocto</string>
		<string>celo</string>
		<string>coolwallet</string>
		<string>cosmostation</string>
		<string>cryptowallet</string>
		<string>fireblocks-wc</string>
		<string>frontier</string>
		<string>hideoutWallet</string>
		<string>imtokenv2</string>
		<string>keyring</string>
		<string>ledgerlive</string>
		<string>lilico</string>
		<string>lobstr</string>
		<string>loopring</string>
		<string>mathwallet</string>
		<string>metaone</string>
		<string>mewwallet</string>
		<string>moneyunstoppable</string>
		<string>ndj-backpack</string>
		<string>obvious</string>
		<string>omni</string>
		<string>opto</string>
		<string>pitaka</string>
		<string>plasmawallet</string>
		<string>premawallet</string>
		<string>rainbow</string>
		<string>robinhood-wallet</string>
		<string>safepalwallet</string>
		<string>spot</string>
		<string>timeless-wallet</string>
		<string>trust</string>
		<string>unstoppabledomains</string>
		<string>zerion</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
