name: CI E2E Tests Android

permissions:
  contents: read

on:
  workflow_dispatch:

jobs:
  placeholder:
    name: Placeholder Job
    runs-on: ubuntu-latest
    steps:
      - name: Do nothing
        run: echo "This is a placeholder workflow to enable manual triggers from feature branches."