name: release-android-appkit-production

permissions:
  id-token: write
  contents: read

on: workflow_dispatch

jobs:
  release-production:
    uses: ./.github/workflows/release-android-base.yaml
    with:
      name: AppKit React Native
      root-path: 'dapps/W3MWagmi'
      release-type: 'production'
      project-type: 'dapp'
      output-path: 'dapps/W3MWagmi/android/app/build/outputs/apk/release/app-release.apk'
    secrets:
      env-file: ${{ vars.APPKIT_ENV_FILE }}
      sentry-file: ${{ secrets.W3M_WAGMI_SENTRY_FILE }}
      secrets-file: ${{ secrets.ANDROID_SECRETS_FILE }}
      firebase-app-id: ${{ secrets.APPKIT_ANDROID_PROD_FIREBASE_APP_ID }}
      gsa-key: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_KEY }}
      keystore-name: ${{ vars.WC_PROD_KEYSTORE_NAME }}
      keystore: ${{ secrets.WC_PROD_KEYSTORE }}
      aws-account-id: ${{ secrets.AWS_ACCOUNT_ID }}
      slack-webhook-url: ${{ secrets.SLACK_WEBHOOK_URL }}
      firebase-url: ${{ vars.FIREBASE_APPKIT_PROD_URL }}
