name: release-ios-mobilepos

permissions:
  id-token: write
  contents: read

on: workflow_dispatch

jobs:
  release:
    uses: ./.github/workflows/release-ios-base.yaml
    with:
      name: Mobile POS React Native
      root-path: 'dapps/pos-app'
      release-type: 'production'
      scheme-name: 'mobilepos'
      bundle-id: 'com.reown.mobilepos'
      apple-id: '6754570257'
      project-type: 'dapp'
      env-file-path: 'dapps/pos-app/.env'
      package-manager: 'npm'
      testflight-groups: 'External'
      is-expo-project: true
    secrets:
      project-id: ${{ vars.POS_APP_PROJECT_ID }}
      sentry-file: ${{ secrets.POS_SENTRY_FILE }}
      env-file: ${{ vars.POS_ENV_FILE }}
      apple-username: ${{ secrets.APPLE_USERNAME }}
      apple-key-id: ${{ secrets.APPLE_KEY_ID }}
      apple-key-content: ${{ secrets.APPLE_KEY_CONTENT }}
      apple-issuer-id: ${{ secrets.APPLE_ISSUER_ID }}
      match-username: ${{ secrets.MATCH_USERNAME }}
      match-keychain-password: ${{ secrets.MATCH_KEYCHAIN_PASSWORD }}
      match-git-url: ${{ secrets.MATCH_GIT_URL }}
      match-ssh-key: ${{ secrets.MATCH_SSH_KEY }}
      google-services-file: ${{ secrets.POS_IOS_GOOGLE_SERVICES_FILE_BASE64 }}
      slack-webhook-url: ${{ secrets.SLACK_WEBHOOK_URL }}
      testflight-url: ${{ vars.TESTFLIGHT_POS_URL }}
