name: release-ios-walletkit-internal

permissions:
  id-token: write
  contents: read

on: 
  workflow_dispatch:
    inputs:
      build-for-simulator:
        description: "Build for simulator instead of TestFlight"
        required: false
        default: false
        type: boolean

jobs:
  release-internal:
    uses: ./.github/workflows/release-ios-base.yaml
    with:
      name: WalletKit React Native
      root-path: 'wallets/rn_cli_wallet'
      release-type: 'internal'
      scheme-name: 'RNWallet-Internal'
      bundle-id: 'com.walletconnect.web3wallet.rnsample.internal'
      apple-id: '6499165794'
      project-type: 'wallet'
      build-for-simulator: ${{ inputs.build-for-simulator }}
      upload-to-bucket: ${{ inputs.build-for-simulator }}
    secrets:
      env-file: ${{ secrets.WALLETKIT_ENV_FILE }}
      sentry-file: ${{ secrets.W3W_SENTRY_FILE }}
      apple-username: ${{ secrets.APPLE_USERNAME }}
      apple-key-id: ${{ secrets.APPLE_KEY_ID }}
      apple-key-content: ${{ secrets.APPLE_KEY_CONTENT }}
      apple-issuer-id: ${{ secrets.APPLE_ISSUER_ID }}
      match-username: ${{ secrets.MATCH_USERNAME }}
      match-keychain-password: ${{ secrets.MATCH_KEYCHAIN_PASSWORD }}
      match-git-url: ${{ secrets.MATCH_GIT_URL }}
      match-ssh-key: ${{ secrets.MATCH_SSH_KEY }}
      google-services-file: ${{ secrets.W3W_IOS_INTERNAL_GOOGLE_SERVICES_FILE }}
      aws-account-id: ${{ secrets.AWS_ACCOUNT_ID }}
      slack-webhook-url: ${{ secrets.SLACK_WEBHOOK_URL }}
      testflight-url: ${{ vars.TESTFLIGHT_WALLETKIT_INTERNAL_URL }}
